<%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :age %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :country %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="control-group">
    <%= f.fields_for :web_links do |links_form| %>
      <%= render partial: 'web_links/form', locals: {f: links_form} %>
    <%end%>
    <%= link_to_add_fields "Add More Links", f, :web_links %>
  </div>

  <hr>
  <h4>Questionnaire</h4>

  <div class="control-group">
    <%= f.fields_for :answers do |ans_form| %>
      <%= render partial: 'answers/form', locals: {f: ans_form, qs: @questions[@index]} %>
      <% @index += 1 %>
    <%end%>
  </div>

  <div class="control-group">
    <%= f.fields_for :user_questions do |links_form| %>
      <%= render partial: 'user_questions/form', locals: {f: links_form} %>
    <%end%>
    <%= link_to_add_fields "Add Your Own Question", f, :user_questions %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
