<div class="page-header">
  <h1>Browse Profiles</h1>
</div>

<% @profiles.each do |profile| %>
<div class="media">
  <% pic= profile.gender=='male' ? 'male.jpg' : 'female.jpg' %>
  <%= link_to image_tag(pic, class: "media-object") , profile, class: 'pull-left' %>
  <div class="media-body">
    <h4 class="media-heading"> <%= profile.name %> / <%= ((DateTime.now.to_date - profile.born).to_i / 365) %> / <%=profile.city%> </h4>
  </div>
  <div class="media">
    <big><%=profile.punch_line%></big>
  </div>
</div>
<%end%>

<% content_for :right_side_panel do %>
  <br \><br \>
  <% if @recent_pings and @recent_pings.count > 0 %>
    <div class="well">
      <h4>Recent Pings: </h4>
      <% @recent_pings.each do |pinger| %>
        <hr>
        <%= pinger.email %>: <%= pinger.msg %><br \>
        <div class="btn btn-mini">
          <%= link_to "View Profile", profile_path(pinger.from_profile_id) %>
        </div>
      <%end%>
    </div>
  <%end%>
<%end%>
