<div class="page-header">
  <h1>Browse Profiles</h1>
</div>

<% @profiles.each do |profile| %>
<div class="media">
  <% pic= profile.gender=='male' ? 'male.jpg' : 'female.jpg' %>
  <%= link_to image_tag(pic, class: "media-object") , profile, class: 'pull-left' %>
  <div class="media-body">
    <h4 class="media-heading"> <%= profile.name %> / <%= ((DateTime.now.to_date - profile.born).to_i / 365) %> / <%=profile.city%> </h4>
  </div>
  <div class="media">
    <big><%=profile.punch_line%></big>
  </div>
</div>
<%end%>

<% content_for :right_side_panel do %>
  <br \><br \>
  <% if @recent_pings and @recent_pings.count > 0 %>
    <div class="well">
      <h4>Recent Pings: </h4>
      <%= render partial: "show_pings", locals: { pings: @recent_pings } %>
    </div>
  <% elsif @all_ping_count %>
    <% if @all_ping_count > 0 %>
      <h5><i class="icon-warning-sign"></i> No Recent Pings </h5>
    <%else%>
      <h5><i class="icon-warning-sign"></i> No Pings </h5>
    <%end%>
  <%end%>

  <% if @all_ping_count and @all_ping_count > @recent_pings.count %>
    <div class='older_pings'>
      <h5> <%= link_to "See Older Pings", profile_older_pings_path(current_user.profile), remote: true, class: 'btn' %></h5>
    </div>
  <%end%>

  <% if @who_i_pinged_count and  @who_i_pinged_count > 0 %>
    <div class='who_i_pinged'>
      <h5> <%= link_to "See Who I Pinged?", profile_see_who_i_pinged_path(current_user.profile), remote: true, class: 'btn' %></h5>
    </div>
  <% end%>
<%end%>
