<div class="page-header">
  <h2><%= @profile.name %></h2>
</div>

<p class="lead">
<%= @age %> / <%= @profile.gender.capitalize %> / <%= @profile.city%> / <%= @profile.country%>
</p>

<%@profile.web_links.each do |link|%>
  <%if link.link_url.length>0 %>
    <i class="icon-hand-up"> </i> <%= link_to link.link_url, link.link_url%> (<%=link.link_type%>)
    <br/>
  <%end%>
<%end%>

<br/>

<%@answers.each do |answer|%>
  <% if (answer.option_id or answer.explanation.length>0) %> 
    <h4><i class="icon-question-sign"> </i><%=answer.question%></h4>
    <div class="row">
      <div class="span7 offset1">
        <% if answer.chosen_option %>
          <p><big><i class="icon-ok-sign"> </i> <%=answer.chosen_option%> </big></p>
        <% end %>
        <% if answer.explanation.length > 0 %>
          <p><big><i class="icon-pencil"> </i> <%=sanitize answer.explanation%></big></p>
        <%end%>
        <br/>
      </div>
    </div>
  <%end%>
<%end%>

<%@profile.user_questions.each do |answer|%>
  <h4><i class="icon-user"> </i> <%=sanitize answer.question%> </h4>
  <div class="row">
    <div class="span7 offset1">
      <p><big><i class="icon-pencil"> </i> <%=sanitize answer.explanation%> </big></p>
      <br/>
    </div>
  </div>
<%end%>

<% if @profile.user != current_user %>
  <%= form_tag(profile_ping_path(@profile.id)) do%>
    <%= text_area_tag(:msg, "", class: 'input-xxlarge', rows: "4", placeholder: 'Your message (Your email id will be automatically sent).') %>
    <%= submit_tag('Ping '+@him_or_her, class: 'btn btn-warning btn-large')%>
  <% end %>
<%end%>

