<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Age:</b>
  <%= @profile.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Country:</b>
  <%= @profile.country %>
</p>

<p>
  <b>City:</b>
  <%= @profile.city %>
</p>

<p>
<b>Links:</b>
<%@profile.web_links.each do |link|%>
  <p>
  Type: <%=link.link_type%>
  - Link-Url: <%=link.link_url%>
  </p>
<%end%>
</p>

<%@profile.answers.each do |answer|%>
  <hr>
  <p>
  Qs-Id:<%=answer.question_id%>
  </p>
  <p>
  Qs:<%=answer.question%>
  </p>
  <p>
  Ans Id:<%=answer.option_id%>
  </p>
  <p>
  Ans:<%=answer.chosen_option%>
  </p>
  <p>
  Exp:<%=answer.explanation%>
  </p>
<%end%>

<br/>
<h5>User Submitted:</h5>
<%@profile.user_questions.each do |answer|%>
  <hr>
  <p>
  Qs:<%=answer.question%>
  </p>
  <p>
  Exp:<%=answer.explanation%>
  </p>
<%end%>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
