<p>
<h5>
  This is a matrimonial website for folks who prefer to choose partners based on personality. Profiles must be created with considerable care, and thought. Good luck.
</h5>
</p>

<p>
<img src="images/HateMyself.gif"/>
</p>

<br />
<div class="btn btn-warning btn-large">
  <%=link_to "Get Started", new_user_registration_path %>
</div>

<% unless user_signed_in? %>
  <% content_for :sign_in_panel do %>
    <div class="well well-large pull-right">
      <div class='lead'> Sign In </div>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <div><%= f.label :login %>
          <%= f.text_field :login, placeholder: 'Username or Email' %> </div>
        <div><%= f.label :password %>
          <%= f.password_field :password%> </div>
        <br/>
        <div><%= f.submit 'Sign in' %></div>
        <div><%= link_to "Forgot your password?", new_password_path('user') %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
