<div class="hero-unit">
<p>
<h3>The Get-to-know-you site</h3>
<img src="images/brain.gif"/>
<h5>
  Pictures are great for capturing memories and sharing ideas, but they are not great for knowing a person. On social and dating sites, we often judge people based on their picture, and someone-else's creativity which they endorse. Their humorous and witty comments lose importance among the flashy snaps and clips. In this site, a carefully crafted questionnaire will guide you to present yourself without pictures. Browse a profile and you will know. 
</h5>
</p>

<br />
<%=link_to "Get Started", profiles_path, class: 'btn btn-warning btn-large'%>

</div>

<p>
Statutory Warning: Aliens might use this site to mate with humans. Here's how:
<img src="images/Cartoon.jpg"/>
</p>

<% unless user_signed_in? %>
  <% content_for :right_side_panel do %>
    <div class="container-fluid pull-right">
      <div class='lead'> Sign In </div>
      <%= form_for("user", :url => user_session_path) do |f| %>
        <div><%= f.label :login %>
          <%= f.text_field :login, placeholder: 'Username or Email' %> </div>
        <div><%= f.label :password %>
          <%= f.password_field :password%> </div>
        <br/>
        <div><%= f.submit 'Sign in' %></div>
        <div><%= link_to "Forgot your password?", new_password_path('user') %></div>
        <div><%= link_to "Don't have an account?", new_user_registration_path %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
