<div class="control-group">

  <div class="span8">
    <%= qs.question %>
  </div>

  <%= f.hidden_field :question_id%>

  <div class="controls">
    <% qs.options.each do |option| %>
      <%= f.label :options, option.option, class: 'radio' %>
      <%= f.radio_button(:option_id, option.id) %>
    <%end%>
  </div>

  <%= f.label :explanation, 'Opinion:', class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :explanation, class: 'input-block-level', rows: 5 %>
  </div>
</div>
