<div class="control-group">

  <div class="well">
    <h5><%=qs.question %></h5>

    <%= f.hidden_field :question_id%>
    <%= f.hidden_field :question_text%>

    <div class="controls">
      <% qs.options.each do |option| %>
        <%= f.radio_button(:option_id, option.id)%>
        <%= f.label :options, option.option, class: 'radio inline' %>
        <br/>
      <%end%>
    </div>

    <br/>
    <div class="controls">
      <%= f.text_area :explanation, class: 'input-block-level', rows: 5, placeholder: 'Your thoughts...' %>
    </div>
  </div>
</div>
