<div class="control-group">
  <%= f.label :link, class: 'control-label' %>
  <div class='controls controls-row'>
    <%= f.text_field :link_url, class: 'span5' %>
    <%= f.select :link_type, ['blog', 'webpage', 'social', 'others'], {}, {class: 'input-small'}%>
  </div>
</div>

<% unless f.object.nil? || f.object.new_record? %>
  <div class="control-group">
    <%= f.label :_destroy, 'Remove: ', :class => 'control-label' %>
    <div class="controls">
    <%= f.check_box :_destroy, :class => 'check-box' %>
    </div>
  </div>
<% end %>
